<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="8XQ5i_x2Cr4rDTBaDtP3LpsSWV8SDgJwYjdnW37PfcU" />
        <title>Youtube Downloader</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div class="container">
            <header class="header">
                <nav>
                    <h2><span class="yt">YT</span>Downloader</h2>
                    <input class="input-search" type="search">
                    <img class="img-search" src="/img/search.png" alt="Search videos">
                </nav>      
                <div class="header-wrapper">
                    <h1>Download Youtube videos</h1>
                    <div class="url-container">
                        <input class="url" placeholder="Video URL">
                        <button class="btn-download video">mp4</button>
                        <button class="btn-download mp3">mp3</button>
                    </div>
                    <span class="error-text"></span>
                </div>
            </header>
            <div class="result-search"></div>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>
